body {
    background-color: #000009;
    color: #6F4152;
}

.separator {
    height: 4px;
    margin-top: 0;
    margin-bottom: 5%;
    border-width: 0;
    color: #5F0B19;
    background-color: #5F0B19;
}

.separator.footer {
    margin-bottom: 0;
}

/* Header */

.headerImg {
    list-style-type: none;
    position: absolute;
    left: 13px;
    top: 2px;
}

.name button {
    position: absolute;
    list-style-type: none;
    text-align: center;
    width: 131px;
    height: 32px;
    left: 10.5%;
    
    background: #E9ECF5;
    border: 1px solid #5F0B19;
    box-shadow: 3px 4px 4px #5F0B19; 
}
.navigation {
    list-style-type: none;
}

.navigation button {
    position: absolute;
    text-align: center;
    margin-right:7px;
    width: 94px;
    height: 32px;
    
    background: #E9ECF5;
    border: 1px solid #5F0B19;
    box-shadow: 3px 4px 4px #5F0B19; 
}

header li span {
    vertical-align: -7px;
}

header ul li :hover {
    background-color: rgb(255, 255, 255);
    background-size: 100%;
}

header {
    background-color: #96616B;
    padding: 5px;
}

/* Main */

.container {
    display: flex;
    justify-content: center;
    margin: auto auto 6% auto;
    width: 568px;
    height: 469px;

    background: #E9ECF5;
    border: 3px solid #5F0B19;
    box-shadow: 4px 5px 4px #96616B;
}

/* Footer */

footer {
    background: #96616B;
    padding: 3%;
}