@import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');

body {
    background-color: hsl(240, 7%, 84%);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Header */

.headerImg, .name a, .navigation {
    list-style: none;
}

.headerImg {
    position: absolute;
    border: 3px solid hsl(240, 7%, 84%);
    background-color: hsl(222, 10%, 12%);
    border-radius: 10%; 
    left: 13px;
    top: 4px;
}

.headerImg img {
    border-radius: 50%; 
    border: 3px solid hsl(240, 7%, 84%);
    position: relative;
    top: 2px;
}

.name a, .navigation a {
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    color: hsl(240, 7%, 84%); 
    font-family: 'Metal';
    font-weight: 600;
    line-height: 30px;
    font-size: 18px;
    transition: 0.4s; 
}

.name a {
    left: 85px;
}

.navigation {
    position: relative;
    text-align: right;
    top: -35px;
}

.navigation a:hover, .name a:hover {
    color: hsl(330, 45%, 65%);
}

.navigation.about {
    right: 354px;
}

.navigation.projects {
    right: 264px;
}

.navigation.skills {
    right: 164px;
}

.navigation.contact {
    right: 78px;
}

header {
    background-color: hsl(222, 10%, 12%);
    padding: 12px;
    height: 58.4px;
    margin-bottom: 37px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

/* Header for mobile screens */

/* hamburger-icon */
header section {
    margin: auto 0;
    display: none;
    position: relative;
    float: right;
    clear: none;
    bottom: 50px;
    right: 26px;
    cursor: pointer;
}

header section div {
    width: 35px;
    height: 3.5px;
    background-color: hsl(222, 10%, 12%);
    border: 3px solid hsl(240, 7%, 84%); 
    border-radius: 5px; 
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-30%, 100%);
    transform: rotate(-45deg) translate(-30%, 100%);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-30%, -100%);
    transform: rotate(45deg) translate(-30%, -100%);
}

/* mobile-menu after clicking hamburger-icon */
.open ul {
    display: flex;
    z-index: 2;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    left: -35px;
    top: 52px;
    height: -moz-fit-content;
    height: fit-content;
    width: 50px;
    background-color: hsl(222, 10%, 12%);
}

.open ul .about {
    left: -50px;
    top: 7px;
}

.open ul .projects {
    left: -50px;
    top: 7px;
}

.open ul .skills {
    left: -50px;
    top: 7px;
}

.open ul .contact {
    left: -50px;
    top: 7px;
}

/* mobile menu hidden until hamburger-icon clicked */
header section ul {
    display: none;
    position: absolute;
    top: 62px;
    left: 280px;
    height: calc(100vh - 50px);
    width: 100%;
}

/* the space between each link when the hamburger menu is open */
header section ul li {
    margin-bottom: 40px;
}

/* hides desktop navigation links when screen width is less than 700px */
@media only screen and (max-width: 700px) {
    header .sectionLinks {
        display: none;
    }

    header section {
        display: block;
    }
}

/* Main */

main section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    scroll-margin-top: 5.25rem;

    margin: 117.9px 25px 0px;
    padding: 20px;
    width: auto;
    min-width: -webkit-fill-available; /* supports samsung internet 5.0+ */
    min-width: -moz-fit-content; /* supports Firefox, Firefox for Android  */
    min-width: fit-content;
    max-width: 100%;
    min-height: -moz-fit-content; /* supports Firefox, Firefox for Android  */
    min-height: fit-content;

    background-color: hsl(222, 10%, 12%);
    font-family: 'Metal';
    color: hsl(240, 7%, 84%);
    font-weight: 500;
    line-height: 150%;
    font-size: 18px;
    font-size: 4vmin;
    /* max font size is 24.5px, min is 4vmin */
    font-size: min(4vmin, 24.5px);

    border: 4px solid hsl(240, 7%, 84%);
    border-radius: 12px; 
}

main section p {
    text-indent: 4ch;
    text-align: left;
}

main section h3, main section h4 {
    margin: 15px 0px 0px;
}

main section h2 {
    margin: 15px auto 0px;
    color: hsl(330, 45%, 65%);
}

main section p, main section ul {
    margin-top: 10px;
    margin-bottom: 0px;
}

main section button {
    margin-top: 13.252px;
    padding: 7px;
    background-color: hsl(330, 45%, 65%);
    border: 3px dashed hsl(240, 7%, 84%);
    border-radius: 7px;
    color: hsl(222, 10%, 12%);
    font-family: 'Metal';
    font-weight: 600;
    line-height: 150%;
    font-size: 18px;
    /* max font size is 24.3px, min is 4vmin */
    font-size: min(4vmin, 20px);
    cursor: pointer;
}

main section button:hover {
    background-color: hsl(222, 10%, 12%); 
    border: 4px double hsl(240, 7%, 84%);
    color: hsl(330, 45%, 65%);
    font-weight: bold;
}

main section button:active {
    background-color: hsl(330, 45%, 65%);
    border: 3px dashed hsl(240, 7%, 84%);
    color: hsl(222, 10%, 12%);
}

#projects, #skills, #contact {
    margin: 35px 25px;
}

.content {
    display: none;
}

.highlight {
    color: hsl(216, 47%, 70%);
    font-style: italic;
    font-weight: bold;
}

/* Projects section */

.portfolioWebsite, .socialMediaMusicWebsite, .mySkills {
    text-align: left;
    border: 3px solid hsl(240, 7%, 84%);
    border-radius: 10px;
    padding: 10px;
}

.contactInfo {
    text-align: left;
}

.portfolioWebsite {
    color: hsl(222, 10%, 12%);
    background-color: hsl(240, 7%, 84%);
    margin-top: 20px;
}

.portfolioWebsite h4 {
    color: hsl(216, 47%, 52.5%);
}

.socialMediaMusicWebsite {
    margin: 35px 0px 25px;
}

.mySkills {
    margin: 20px 0px 25px;
}

.mySkills h4, .contactInfo h4 {
    display: inline-flex;
    margin: 0px;
}

.socialMediaMusicWebsite h4, .mySkills h4, .contactInfo h4 {
    color: hsl(216, 47%, 70%);
}

.portfolioWebsite p, .socialMediaMusicWebsite p {
    margin-top: 5px;
}

.portfolioWebsite h3, .socialMediaMusicWebsite h3, .mySkills h3 {
    text-align: center;
}

.contactInfo ul a {
    text-decoration: none;
    color: hsl(240, 7%, 84%);
}

.contactInfo ul a:hover {
    color: hsl(330, 45%, 65%);  
}

.centerButton {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

main section .portfolioWebsite button {
    background-color: hsl(222, 10%, 12%);
    border: 3px dashed hsl(330, 45%, 65%);
    color: hsl(240, 7%, 84%);
}

main section .portfolioWebsite button:hover {
    background-color: hsl(222, 10%, 12%); 
    border: 4px double hsl(240, 7%, 84%);
    color: hsl(330, 45%, 65%);
    font-weight: bold;
}

main section button:active {
    background-color: hsl(222, 10%, 12%);
    border: 3px dashed hsl(330, 45%, 65%);
    color: hsl(240, 7%, 84%);
}

/* Footer */

footer {
    background-color: hsl(222, 10%, 12%);
    padding: 12px 12px 0px;
    margin-top: 37px;
    position: relative;
    z-index: 1;
    font-family: 'Metal';
    font-weight: 500;
    line-height: 150%;
    font-size: 18px;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    margin: 0px;
    padding: 6px;
    list-style: none;
}

footer ul li {
    width: 90px;
}

footer ul a {
    text-decoration: none;
    color: hsl(240, 7%, 84%);
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

footer img {
    width: 57px;
    height: 57px;
    margin: 0px 7px;
    border: 3px solid hsl(240, 7%, 84%);
    border-radius: 10%;
}

footer img:hover {
    opacity: 0.8;
    transition: 0.4s;
    border: 3px solid hsl(330, 45%, 65%);
}

footer ul a:hover {
    color: hsl(330, 45%, 65%);  
}

/* Resizing based on screens used */

/* resizes wesite for galaxy fold when screen width is less than 300px */
@media only screen and (max-width: 300px) {
    /* main */
    main section button {
        padding: 5px;
    }
    /* footer */
    footer img {
        width: 50px;
        height: 50px;
    }
}

/*  adjust the margin for each section when screen width is greater than 700px */
@media only screen and (min-width: 700px) {
    main section {
        margin: 117.9px 5% 0px;
    }

    #projects, #skills, #contact {
        margin: 35px 5%;
    }
}
