body {
    background-color: #6C503C;
    color: #5d3745;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

.headerImg {
    list-style-type: none;
    position: absolute;
    border: 3px solid #5F0B19;
    left: 13px;
    top: 4px;
}

.headerImg img {
    border-radius: 50%; 
    border: 3px solid #5F0B19; 
    position: relative;
    top: 2px;
}

.name button {
    position: absolute;
    list-style-type: none;
    cursor: pointer;
    text-align: center;
    width: 131px;
    height: 32px;
    left: 85px;
    
    background-color: #F8EFDE;
    border: 3px solid #5F0B19;
    box-shadow: 3px 4px 4px #5F0B19;
    color: #5d3745; 
}
.navigation {
    list-style-type: none;
    position: relative;
    text-align: right;
    top: -25px;
}

.navigation button {
    position: absolute;
    text-align: center;
    cursor: pointer;
    margin-right: 7px;
    width: 94px;
    height: 32px;
    
    background-color: #F8EFDE;
    border: 3px solid #5F0B19;
    box-shadow: 3px 4px 4px #5F0B19;
    color: #5d3745; 
}

.navigation.home {
    right: 388px;
}

.navigation.projects {
    right: 288px;
}

.navigation.resume {
    right: 188px;
}

.navigation.contact {
    right: 88px;
}

header li a {
    vertical-align: -7px;
}

header ul li :hover {
    background-color: #F8EFDE;
    background-size: 100%;
}

header {
    background-color: #A6836F;
    padding: 12px;
    border-bottom: 3px solid #5F0B19;
    margin-bottom: 35px;
}

/* Header for mobile screens */

/* hamburger-icon */
header section {
    margin: auto 0;
    display: none;
    position: relative;
    float: right;
    clear: none;
    bottom: 50px;
    right: 7px;
    cursor: pointer;
}

header section div {
    width: 35px;
    height: 3px;
    background-color: #E9ECF5;
    border: 3px solid #5F0B19;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 11px);
    transform: rotate(-45deg) translate(-6px, 11px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -15px);
    transform: rotate(45deg) translate(-6px, -15px);
}

/* mobile-menu after clicking hamburger-icon */
.open ul {
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    left: -40px;
    height: 0;
    width: 0;
}

.open ul .home {
    left: -50px;
}

.open ul .projects {
    left: -50px;
}

.open ul .resume {
    left: -50px;
}

.open ul .contact {
    left: -50px;
}

/* mobile menu hidden until hamburger-icon clicked */
header section ul {
    display: none;
    position: absolute;
    top: 62px;
    left: 280px;
    height: calc(100vh - 50px);
    width: 100%;
}

/* the space between each button when the hamburger menu is open */
header section ul li {
    margin-bottom: 40px;
}

/* hides desktop navigation buttons when screen width is less than 700px */
@media only screen and (max-width: 700px) {
    header nav {
        display: none;
    }

    header section {
        display: block;
    }
}

/* Main */

main section {
    display: flex;
    justify-content: center;
    margin: auto;
    width: auto;
    min-width: fit-content;
    max-width: 100%;
    min-height: 100vh;
    margin-left: 25px;
    margin-right: 25px;


    background-color: #E9ECF5;
    border: 3px solid #5F0B19;
    box-shadow: 4px 5px 4px #5F0B19;
}

/* Footer */

footer {
    background-color: #6C503C;
    padding: 5%;
    border-top: 3px solid #5F0B19;
    margin-top: 37px;
}